{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% bootstrap_css %}
  <script src="https://kit.fontawesome.com/2fe94e68d6.js" crossorigin="anonymous"></script>
  <title>PJT07</title>
</head>
<body>
  <ul class="nav d-flex justify-content-between">
    <div>
      <button class="btn btn-primary btn-sm"><a class="nav-link text-decoration-none text-white" href="{% url 'community:index' %}">전체 목록</a></button>
      <button class="btn btn-primary btn-sm"><a class="nav-link text-decoration-none text-white" href="{% url 'community:create' %}">새 글 작성</a></button>
    </div>
    {% if request.user.is_authenticated %}
      <div class="d-flex">
        <h3>Hello, <a class="text-decoration-none text-dark" href="{% url 'accounts:profile' request.user.id %}"><b>{{ request.user.username }}</b></h3></a>
          <form class="nav-link" action="{% url 'accounts:logout' %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-danger btn-sm">Logout</button>
          </form>
      </div>
    {% else %}
      <div>
          <button class="btn btn-primary btn-sm"><a class="nav-link text-decoration-none text-white" href="{% url 'accounts:login' %}">로그인</a></button>
          <button class="btn btn-primary btn-sm"><a class="nav-link text-decoration-none text-white" href="{% url 'accounts:signup' %}">회원가입</a></button>
      </div>
    {% endif %}
  </ul>
  <div class="container">
    {% block content %}

    {% endblock %}
  </div>
  {% bootstrap_javascript %}
</body>
</html>